
.header-main {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    gap: 30px;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
    
    
}
.header-search{
    display: grid;
    grid-template-columns: 2.5fr 1fr 0.7fr;
  
   overflow: hidden;
    border-radius: 8px;
    border: 1px solid #3b82f6;
    height: 44px;
}
.header-search input {
    padding: 0 15px;
    border: none;
    outline: none;
    font-size: 16px;
}

.header-search button{
    background-color: #1d4ed8;
    color: white;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.header-icons{
    align-items: center;
    display: flex;
    justify-self: end;
    
}
.header-icons ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    
    margin: 0; 
    padding: 0;
    
}
.header-icons ul li {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 0;

}
.header-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
    
}
.header-icon-box i {
    font-size: 20px;
    color: #6b7280;     
    cursor: pointer;
    transition: 0.2s;
}
.header-icon-box p {
    font-size: 12px;
    color: #6b7280;
    
    margin: 3px 0 0 0;
    
}

.header-icon-box:hover i,
.header-icon-box:hover span {
    color: #2563eb;   
}


.search select {
    border: none;
    outline: none;
    padding: 0 10px;
    border-left: 1px solid #ddd;
    background: white;
    font-size: 16px;
}
