.navbar-main{

    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px 40px;
    box-sizing: border-box;
    width: 100%;
align-items: center;
}


.navbar-left ul{

    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: start;
   padding-left: 0 !important; 
    margin: 0 !important;
    list-style: none;
    

}
.navbar-left ul li {
    
    /* margin-right: 20px; */
    display: flex; /* Ensures flex alignment works inside LI */
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-weight: 500; /* Makes text slightly bolder like the image */
    color: #1c1c1c;
    
}
.navbar-allcategory{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}
.navbar-right ul {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}