.selector-outerbox{
   align-items: center;
   padding: 20px 40px;
}
.selector-main {

    display: flex;
    flex-direction: column;
    width: 300px;
}

.selector-checkboxes-container{
    display: flex;
    flex-direction: column;
}
.selector-checkbox{
    display: flex;
    gap:10px;
    padding: 5px 0px;
    
}
.selector-checkbox input{
margin: 0;
}