.selector-item-list-main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    border: 1px solid rgb(214, 207, 207);
    border-radius: 5px;
    margin: 5px 0px;
  
}
.selector-item-list-image{
    display: flex;
    align-items: center;
    justify-content: center;
  
}


.selector-item-list-item-details{
display: flex;
flex-direction: column;
  justify-content: center;
  padding: 15px 0px;

}

.selector-item-list-item-details p{
margin: 0;

}

.selector-item-list-name{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.selector-item-list-name i{
border: 1px solid rgb(214, 207, 207);
margin-right: 10px;
padding: 5px;
border-radius: 5px;
color:blue;
}
.selector-item-list-rating{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding-bottom: 5px;
}
.selector-item-list-shipping-type{
    color: green;
}
.selector-item-list-view-details
{
    color: blue;
}